<table class="tx-t3registrationeb" >
	<tr>
		<td>
			<f:translate key="tx_t3registrationeb_domain_model_frontenduser.privacy" />
		</td>
		<td>
			{frontendUser.privacy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3registrationeb_domain_model_frontenduser.authentication_code" />
		</td>
		<td>
			{frontendUser.authenticationCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3registrationeb_domain_model_frontenduser.moderator_approval" />
		</td>
		<td>
			{frontendUser.moderatorApproval}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3registrationeb_domain_model_frontenduser.moderator_approvalate_d" />
		</td>
		<td>
			{frontendUser.moderatorApprovalateD}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3registrationeb_domain_model_frontenduser.user_approval" />
		</td>
		<td>
			{frontendUser.userApproval}
		</td>
	</tr>
</table>